@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.projects img {
  width: 100%;
}

/* color */
.bg-primary {
  background: #faf9f9;
}
.bg-secondary {
  background: #2b3c57;
}
.bg-accent {
  background: #eb5e4c;
}
.text-accent {
  color: #eb5e4c;
}
.border-accent {
  border-color: #eb5e4c;
}
.text-primary {
  color: #212121;
}
.text-secondary {
  color: #faf9f9;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #f2761b;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-[#0a160d] duration-500;
}

/* hero */
h1 {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5 !important;
}
