@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.projects img {
  width: 100%;
}

/* color */
.bg-primary {
  background: #faf9f9;
}
.bg-secondary {
  background: #2b3c57;
}
.bg-accent {
  background: #a82f42;
}
.text-accent {
  color: #a82f42;
}
.border-accent {
  border-color: #a82f42;
}
.text-primary {
  color: #212121;
}
.text-secondary {
  color: #faf9f9;
}
.icon-emoji {
  height: 2%;
  width: 2%;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #a82f42;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-[#0a160d] duration-500;
}

/* hero */
h1 {
  font-family: 'Hina Mincho', serif;
  line-height: 0.9 !important;
  /* font-weight: bolder; */
  font-size: xx-large;
}

/* about */
p {
  /* font-family: 'Raleway', sans-serif; */
  line-height: 1.9 !important;
  /* font-weight: 100; */
  /* font-size: xx-large; */
}
